
body {
overflow: hidden;
background-image: url('pill.jpg'); 
}

#body {
overflow: hidden;
background-color: grey;
background-image: url('pill.jpg'); 
z-index: 1;
position: absolute;
width: 120%;
height: 120%;
margin: -10% -1%;
}

h1 {
text-align: center;
}

.question {
transition-duration: .5s;
width: 0%;
height: 0%;
margin: 3% 15%;
background: rgba(255, 255, 255, 0.8);
z-index:-11;
border-radius: 20px;
position: absolute;
border: 2px black solid;

}

.question button {
font-size: 20px; 
text-align: center;
margin: 10%;
padding: 10%;
border: 2px black solid;
}

.result {
transition-duration: .5s;
width: 0%;
height: 0%;
margin: 3% 15%;
background: rgba(255, 255, 255, 0.8);
z-index:-11;
border-radius: 20px;
position: absolute;
padding: 2%;
border: 2px black solid;
}


h1 {
position: relative;
z-index: inherit;
}
button {
position: relative;
z-index: inherit;
}
