<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width"><title>https://sbcode.net/threejs/multi-controls-example/stylesheets/style.css</title><link rel="stylesheet" type="text/css" href="resource://content-accessible/viewsource.css"></head><body id="viewsource" class="highlight" style="-moz-tab-size: 4" contextmenu="actions"><pre id="line1"><span></span><span class="doctype">&lt;!DOCTYPE html&gt;</span><span></span><span>&lt;<span class="start-tag">html</span> <span class="attribute-name">lang</span>="<a class="attribute-value">en</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">head</span>&gt;</span><span></span><span>&lt;<span class="start-tag">title</span>&gt;</span><span>sbcode.net</span><span>&lt;/<span class="end-tag">title</span>&gt;</span><span></span><span>&lt;<span class="start-tag">meta</span> <span class="attribute-name">charset</span>="<a class="attribute-value">utf-8</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">meta</span> <span class="attribute-name">name</span>="<a class="attribute-value">viewport</a>" <span class="attribute-name">content</span>="<a class="attribute-value">width=device-width, initial-scale=1</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">link</span> <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/stylesheets/bootstrap.min.css">/stylesheets/bootstrap.min.css</a>" <span class="attribute-name">rel</span>="<a class="attribute-value">stylesheet</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">script</span> <span class="attribute-name">src</span>="<a class="attribute-value" href="view-source:https://sbcode.net/js/jquery.min.js">/js/jquery.min.js</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">script</span>&gt;</span><span></span><span>&lt;<span class="start-tag">script</span> <span class="attribute-name">src</span>="<a class="attribute-value" href="view-source:https://sbcode.net/js/bootstrap.min.js">/js/bootstrap.min.js</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">script</span>&gt;</span><span></span><span>&lt;<span class="start-tag">script</span> <span class="attribute-name">src</span>="<a class="attribute-value" href="view-source:https://sbcode.net/js/jquery.bootgrid.min.js">/js/jquery.bootgrid.min.js</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">script</span>&gt;</span><span></span><span>&lt;<span class="start-tag">link</span> <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/stylesheets/jquery.bootgrid.min.css">/stylesheets/jquery.bootgrid.min.css</a>" <span class="attribute-name">rel</span>="<a class="attribute-value">stylesheet</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">style</span>&gt;</span><span>body {
<span id="line2"></span>line-height: 1.8;
<span id="line3"></span>color: #333333;
<span id="line4"></span>-webkit-font-feature-settings: "kern","liga";
<span id="line5"></span>font-feature-settings: "kern" 1, "liga" 1;
<span id="line6"></span>font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
<span id="line7"></span>}
<span id="line8"></span>h1 {
<span id="line9"></span>font-size: 40px;
<span id="line10"></span>text-transform: uppercase;
<span id="line11"></span>color: #303030;
<span id="line12"></span>font-weight: 600;
<span id="line13"></span>margin-top: 70px;
<span id="line14"></span>}
<span id="line15"></span>h2 {
<span id="line16"></span>font-size: 21px;
<span id="line17"></span>text-transform: uppercase;
<span id="line18"></span>color: #303030;
<span id="line19"></span>font-weight: 600;
<span id="line20"></span>}
<span id="line21"></span>h3 {
<span id="line22"></span>font-size: 24px;
<span id="line23"></span>color: #303030;
<span id="line24"></span>margin-top: 2px;
<span id="line25"></span>padding-top: 2px;
<span id="line26"></span>}
<span id="line27"></span>h4 {
<span id="line28"></span>font-size: 14px;
<span id="line29"></span>line-height: 1.375em;
<span id="line30"></span>color: #303030;
<span id="line31"></span>font-weight: 400;
<span id="line32"></span>}
<span id="line33"></span>hr {
<span id="line34"></span>  border: 2px solid white;
<span id="line35"></span>}
<span id="line36"></span>.jumbotron {
<span id="line37"></span>background-color: #0b0b0b;
<span id="line38"></span>color: #fff;
<span id="line39"></span>padding: 100px 25px;
<span id="line40"></span>}
<span id="line41"></span>.container-fluid {
<span id="line42"></span>padding: 60px 50px;
<span id="line43"></span>}
<span id="line44"></span>.bg-grey {
<span id="line45"></span>background-color: #f6f6f6;
<span id="line46"></span>}
<span id="line47"></span>.logo-small {
<span id="line48"></span>color: #0b0b0b;
<span id="line49"></span>font-size: 50px;
<span id="line50"></span>}
<span id="line51"></span>.logo {
<span id="line52"></span>color: #0b0b0b;
<span id="line53"></span>font-size: 200px;
<span id="line54"></span>}
<span id="line55"></span>.thumbnail {
<span id="line56"></span>padding: 0 0 15px 0;
<span id="line57"></span>border: none;
<span id="line58"></span>border-radius: 0;
<span id="line59"></span>}
<span id="line60"></span>.thumbnail img {
<span id="line61"></span>width: 100%;
<span id="line62"></span>height: 100%;
<span id="line63"></span>margin-bottom: 10px;
<span id="line64"></span>}
<span id="line65"></span>.carousel-control.right, .carousel-control.left {
<span id="line66"></span>background-image: none;
<span id="line67"></span>color: #0b0b0b;
<span id="line68"></span>}
<span id="line69"></span>.carousel-indicators li {
<span id="line70"></span>border-color: #0b0b0b;
<span id="line71"></span>}
<span id="line72"></span>.carousel-indicators li.active {
<span id="line73"></span>background-color: #0b0b0b;
<span id="line74"></span>}
<span id="line75"></span>.item h4 {
<span id="line76"></span>font-size: 19px;
<span id="line77"></span>line-height: 1.375em;
<span id="line78"></span>font-weight: 400;
<span id="line79"></span>font-style: italic;
<span id="line80"></span>margin: 70px 0;
<span id="line81"></span>}
<span id="line82"></span>.item span {
<span id="line83"></span>font-style: normal;
<span id="line84"></span>}
<span id="line85"></span>.panel {
<span id="line86"></span>border: 1px solid #0b0b0b;
<span id="line87"></span>border-radius:0 !important;
<span id="line88"></span>transition: box-shadow 0.5s;
<span id="line89"></span>}
<span id="line90"></span>.panel:hover {
<span id="line91"></span>box-shadow: 5px 0px 40px rgba(0,0,0, .2);
<span id="line92"></span>}
<span id="line93"></span>.panel-footer .btn:hover {
<span id="line94"></span>border: 1px solid #0b0b0b;
<span id="line95"></span>background-color: #fff !important;
<span id="line96"></span>color: #0b0b0b;
<span id="line97"></span>}
<span id="line98"></span>.panel-heading {
<span id="line99"></span>color: #fff !important;
<span id="line100"></span>background-color: #0b0b0b !important;
<span id="line101"></span>padding: 25px;
<span id="line102"></span>border-bottom: 1px solid transparent;
<span id="line103"></span>border-top-left-radius: 0px;
<span id="line104"></span>border-top-right-radius: 0px;
<span id="line105"></span>border-bottom-left-radius: 0px;
<span id="line106"></span>border-bottom-right-radius: 0px;
<span id="line107"></span>}
<span id="line108"></span>.panel-footer {
<span id="line109"></span>background-color: white !important;
<span id="line110"></span>}
<span id="line111"></span>.panel-footer h3 {
<span id="line112"></span>font-size: 32px;
<span id="line113"></span>}
<span id="line114"></span>.panel-footer h4 {
<span id="line115"></span>color: #aaa;
<span id="line116"></span>font-size: 14px;
<span id="line117"></span>}
<span id="line118"></span>.panel-footer .btn {
<span id="line119"></span>margin: 15px 0;
<span id="line120"></span>background-color: #0b0b0b;
<span id="line121"></span>color: #fff;
<span id="line122"></span>}
<span id="line123"></span>
<span id="line124"></span>.user-panel {
<span id="line125"></span>border: 1px solid #dddddd;
<span id="line126"></span>border-radius:0 !important;
<span id="line127"></span>transition: box-shadow 0.5s;
<span id="line128"></span>}
<span id="line129"></span>.user-panel:hover {
<span id="line130"></span>box-shadow: 5px 0px 40px rgba(0,0,0, .2);
<span id="line131"></span>}
<span id="line132"></span>.user-panel-heading {
<span id="line133"></span>color: #0b0b0b !important;
<span id="line134"></span>background-color: #ffffff !important;
<span id="line135"></span>padding: 14px;
<span id="line136"></span>border-bottom: 1px solid transparent;
<span id="line137"></span>border-top-left-radius: 0px;
<span id="line138"></span>border-top-right-radius: 0px;
<span id="line139"></span>border-bottom-left-radius: 0px;
<span id="line140"></span>border-bottom-right-radius: 0px;
<span id="line141"></span>}
<span id="line142"></span>.user-panel-heading h2{
<span id="line143"></span>  margin:14px
<span id="line144"></span>}
<span id="line145"></span>
<span id="line146"></span>.user-panel-body {
<span id="line147"></span>background-color: white !important;
<span id="line148"></span>}
<span id="line149"></span>.balance{
<span id="line150"></span>  color: #00aa00;
<span id="line151"></span>  font-size: 36px;
<span id="line152"></span>}
<span id="line153"></span>.user-panel-footer {
<span id="line154"></span>background-color: white !important;
<span id="line155"></span>}
<span id="line156"></span>.user-panel-footer .btn {
<span id="line157"></span>margin: 0 0 8px 0;
<span id="line158"></span>background-color: #0b0b0b;
<span id="line159"></span>color: #fff;
<span id="line160"></span>}
<span id="line161"></span>.user-panel-footer .btn:hover {
<span id="line162"></span>border: 1px solid #0b0b0b;
<span id="line163"></span>background-color: #fff !important;
<span id="line164"></span>color: #0b0b0b;
<span id="line165"></span>}
<span id="line166"></span>.navbar {
<span id="line167"></span>margin-bottom: 0;
<span id="line168"></span>background-color: #ffffff;
<span id="line169"></span>z-index: 9999;
<span id="line170"></span>border: 0;
<span id="line171"></span>font-size: 12px !important;
<span id="line172"></span>line-height: 1.42857143 !important;
<span id="line173"></span>letter-spacing: 4px;
<span id="line174"></span>border-radius: 0;
<span id="line175"></span>}
<span id="line176"></span>.navbar li a, .navbar .navbar-brand {
<span id="line177"></span>color: #0b0b0b !important;
<span id="line178"></span>}
<span id="line179"></span>.navbar-nav li a:hover, .navbar-nav li.active a {
<span id="line180"></span>color: #0b0b0b !important;
<span id="line181"></span>background-color: #fff !important;
<span id="line182"></span>}
<span id="line183"></span>.navbar-default .navbar-toggle {
<span id="line184"></span>border-color: transparent;
<span id="line185"></span>color: #888888 !important;
<span id="line186"></span>}
<span id="line187"></span>footer .glyphicon {
<span id="line188"></span>font-size: 20px;
<span id="line189"></span>margin-bottom: 20px;
<span id="line190"></span>color: #0b0b0b;
<span id="line191"></span>}
<span id="line192"></span>.slideanim {visibility:hidden;}
<span id="line193"></span>.slide {
<span id="line194"></span>animation-name: slide;
<span id="line195"></span>-webkit-animation-name: slide;
<span id="line196"></span>animation-duration: 1s;
<span id="line197"></span>-webkit-animation-duration: 1s;
<span id="line198"></span>visibility: visible;
<span id="line199"></span>}
<span id="line200"></span>@keyframes slide {
<span id="line201"></span>0% {
<span id="line202"></span>opacity: 0;
<span id="line203"></span>transform: translateY(70%);
<span id="line204"></span>}
<span id="line205"></span>100% {
<span id="line206"></span>opacity: 1;
<span id="line207"></span>transform: translateY(0%);
<span id="line208"></span>}
<span id="line209"></span>}
<span id="line210"></span>@-webkit-keyframes slide {
<span id="line211"></span>0% {
<span id="line212"></span>opacity: 0;
<span id="line213"></span>-webkit-transform: translateY(70%);
<span id="line214"></span>}
<span id="line215"></span>100% {
<span id="line216"></span>opacity: 1;
<span id="line217"></span>-webkit-transform: translateY(0%);
<span id="line218"></span>}
<span id="line219"></span>}
<span id="line220"></span>@media screen {
<span id="line221"></span>body{
<span id="line222"></span>  font-size: 24px
<span id="line223"></span>}
<span id="line224"></span>.h3, h3 {
<span id="line225"></span>  font-size:24px
<span id="line226"></span>  }
<span id="line227"></span>}
<span id="line228"></span>@media screen and (max-width: 768px) {
<span id="line229"></span>  .hide-on-small-screen{
<span id="line230"></span>    display: none;
<span id="line231"></span>  }
<span id="line232"></span>  .col-sm-4 {
<span id="line233"></span>    text-align: center;
<span id="line234"></span>    margin: 25px 0;
<span id="line235"></span>  }
<span id="line236"></span>  .btn-lg {
<span id="line237"></span>    width: 100%;
<span id="line238"></span>    margin-bottom: 35px;
<span id="line239"></span>  }
<span id="line240"></span>}
<span id="line241"></span>body{
<span id="line242"></span>  font-size: 15px
<span id="line243"></span>}
<span id="line244"></span>.h3, h3 {
<span id="line245"></span>  font-size:15px
<span id="line246"></span>}
<span id="line247"></span>@media screen and (max-width: 460px) {        
<span id="line248"></span>  body{
<span id="line249"></span>    font-size: 12px
<span id="line250"></span>  }
<span id="line251"></span>  .h3, h3 {
<span id="line252"></span>    font-size:12px
<span id="line253"></span>  }
<span id="line254"></span>}
<span id="line255"></span>
<span id="line256"></span>/* The Modal (background) */
<span id="line257"></span>.modal {
<span id="line258"></span>  display: none; /* Hidden by default */
<span id="line259"></span>  position: fixed; /* Stay in place */
<span id="line260"></span>  z-index: 1; /* Sit on top */
<span id="line261"></span>  padding-top: 100px; /* Location of the box */
<span id="line262"></span>  left: 0;
<span id="line263"></span>  top: 0;
<span id="line264"></span>  width: 100%; /* Full width */
<span id="line265"></span>  height: 100%; /* Full height */
<span id="line266"></span>  overflow: auto; /* Enable scroll if needed */
<span id="line267"></span>  background-color: rgb(0,0,0); /* Fallback color */
<span id="line268"></span>  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
<span id="line269"></span>}
<span id="line270"></span>
<span id="line271"></span>/* Modal Content */
<span id="line272"></span>.modal-content {
<span id="line273"></span>  position: relative;
<span id="line274"></span>  background-color: #fefefe;
<span id="line275"></span>  margin: auto;
<span id="line276"></span>  padding: 0;
<span id="line277"></span>  border: 1px solid #888;
<span id="line278"></span>  width: 80%;
<span id="line279"></span>  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
<span id="line280"></span>  -webkit-animation-name: animatetop;
<span id="line281"></span>  -webkit-animation-duration: 0.4s;
<span id="line282"></span>  animation-name: animatetop;
<span id="line283"></span>  animation-duration: 0.4s
<span id="line284"></span>}
<span id="line285"></span>
<span id="line286"></span>/* Add Animation */
<span id="line287"></span>@-webkit-keyframes animatetop {
<span id="line288"></span>  from {top:-300px; opacity:0} 
<span id="line289"></span>  to {top:0; opacity:1}
<span id="line290"></span>}
<span id="line291"></span>
<span id="line292"></span>@keyframes animatetop {
<span id="line293"></span>  from {top:-300px; opacity:0}
<span id="line294"></span>  to {top:0; opacity:1}
<span id="line295"></span>}
<span id="line296"></span>
<span id="line297"></span>/* The Close Button */
<span id="line298"></span>.close {
<span id="line299"></span>  color: white;
<span id="line300"></span>  float: right;
<span id="line301"></span>  font-size: 28px;
<span id="line302"></span>  font-weight: bold;
<span id="line303"></span>}
<span id="line304"></span>
<span id="line305"></span>.close:hover,
<span id="line306"></span>.close:focus {
<span id="line307"></span>  color: #000;
<span id="line308"></span>  text-decoration: none;
<span id="line309"></span>  cursor: pointer;
<span id="line310"></span>}
<span id="line311"></span>
<span id="line312"></span>.modal-header {
<span id="line313"></span>  padding: 2px 16px;
<span id="line314"></span>  background-color: #0b0b0b;
<span id="line315"></span>  color: white;
<span id="line316"></span>}
<span id="line317"></span>
<span id="line318"></span>.modal-body {padding: 2px 16px;}
<span id="line319"></span>
<span id="line320"></span>.modal-footer {
<span id="line321"></span>  padding: 2px 16px;
<span id="line322"></span>  background-color: white;
<span id="line323"></span>  color: white;
<span id="line324"></span>}
<span id="line325"></span>
<span id="line326"></span>/* The switch - the box around the slider */
<span id="line327"></span>.switch {
<span id="line328"></span>  position: relative;
<span id="line329"></span>  display: inline-block;
<span id="line330"></span>  width: 60px;
<span id="line331"></span>  height: 34px;
<span id="line332"></span>}
<span id="line333"></span>
<span id="line334"></span>/* Hide default HTML checkbox */
<span id="line335"></span>.switch input {
<span id="line336"></span>  opacity: 0;
<span id="line337"></span>  width: 0;
<span id="line338"></span>  height: 0;
<span id="line339"></span>}
<span id="line340"></span>
<span id="line341"></span>/* The slider */
<span id="line342"></span>.slider {
<span id="line343"></span>  position: absolute;
<span id="line344"></span>  cursor: pointer;
<span id="line345"></span>  top: 0;
<span id="line346"></span>  left: 0;
<span id="line347"></span>  right: 0;
<span id="line348"></span>  bottom: 0;
<span id="line349"></span>  background-color: #ccc;
<span id="line350"></span>  -webkit-transition: .4s;
<span id="line351"></span>  transition: .4s;
<span id="line352"></span>}
<span id="line353"></span>
<span id="line354"></span>.slider:before {
<span id="line355"></span>  position: absolute;
<span id="line356"></span>  content: "";
<span id="line357"></span>  height: 26px;
<span id="line358"></span>  width: 26px;
<span id="line359"></span>  left: 4px;
<span id="line360"></span>  bottom: 4px;
<span id="line361"></span>  background-color: white;
<span id="line362"></span>  -webkit-transition: .4s;
<span id="line363"></span>  transition: .4s;
<span id="line364"></span>}
<span id="line365"></span>
<span id="line366"></span>input:checked + .slider {
<span id="line367"></span>  background-color: #00dd44;
<span id="line368"></span>}
<span id="line369"></span>
<span id="line370"></span>input:focus + .slider {
<span id="line371"></span>  box-shadow: 0 0 1px #dddddd;
<span id="line372"></span>}
<span id="line373"></span>
<span id="line374"></span>input:checked + .slider:before {
<span id="line375"></span>  -webkit-transform: translateX(26px);
<span id="line376"></span>  -ms-transform: translateX(26px);
<span id="line377"></span>  transform: translateX(26px);
<span id="line378"></span>}
<span id="line379"></span>
<span id="line380"></span>/* Rounded sliders */
<span id="line381"></span>.slider.round {
<span id="line382"></span>  border-radius: 34px;
<span id="line383"></span>}
<span id="line384"></span>
<span id="line385"></span>.slider.round:before {
<span id="line386"></span>  border-radius: 50%;
<span id="line387"></span>} 
<span id="line388"></span>
<span id="line389"></span>.errorRow{
<span id="line390"></span>  color:red;
<span id="line391"></span>}
<span id="line392"></span>
<span id="line393"></span>table th {
<span id="line394"></span>  font-size:14px
<span id="line395"></span>}
<span id="line396"></span>table td {
<span id="line397"></span>  font-size:12px
<span id="line398"></span>}
<span id="line399"></span>
<span id="line400"></span>.button {
<span id="line401"></span>  background-color: white;
<span id="line402"></span>  /* Green */
<span id="line403"></span>  border: 1px solid gray;
<span id="line404"></span>  color: black;
<span id="line405"></span>  padding: 4px 32px;
<span id="line406"></span>  text-align: center;
<span id="line407"></span>  text-decoration: none;
<span id="line408"></span>  display: inline-block;
<span id="line409"></span>  font-size: 16px;
<span id="line410"></span>  cursor: pointer;
<span id="line411"></span>}
<span id="line412"></span>.button:hover{
<span id="line413"></span>  background-color: #eeeeee;
<span id="line414"></span>  text-decoration: none;
<span id="line415"></span>  color: black;
<span id="line416"></span>}
<span id="line417"></span></span><span>&lt;/<span class="end-tag">style</span>&gt;</span><span></span><span>&lt;<span class="start-tag">meta</span> <span class="attribute-name">name</span>="<a class="attribute-value">ir-site-verification-token</a>" <span class="attribute-name">value</span>="<a class="attribute-value">1928735</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">head</span>&gt;</span><span></span><span>&lt;<span class="start-tag">body</span> <span class="attribute-name">id</span>="<a class="attribute-value">myPage</a>" <span class="attribute-name">data-target</span>="<a class="attribute-value">.navbar</a>" <span class="attribute-name">data-offset</span>="<a class="attribute-value">60</a>" <span class="attribute-name">data-spy</span>="<a class="attribute-value">scroll</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">nav</span> <span class="attribute-name">class</span>="<a class="attribute-value">navbar navbar-default navbar-fixed-top</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">container</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">navbar-header</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">button</span> <span class="attribute-name">class</span>="<a class="attribute-value">navbar-toggle</a>" <span class="attribute-name">type</span>="<a class="attribute-value">button</a>" <span class="attribute-name">data-target</span>="<a class="attribute-value">#myNavbar</a>" <span class="attribute-name">data-toggle</span>="<a class="attribute-value">collapse</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">icon-bar</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">icon-bar</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;<span class="start-tag">span</span> <span class="attribute-name">class</span>="<a class="attribute-value">icon-bar</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">span</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">button</span>&gt;</span><span></span><span>&lt;<span class="start-tag">a</span> <span class="attribute-name">class</span>="<a class="attribute-value">navbar-brand</a>" <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/threejs/multi-controls-example/stylesheets/style.css#">#</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">img</span> <span class="attribute-name">class</span>="<a class="attribute-value">w3-image w3-greyscale-min</a>" <span class="attribute-name">style</span>="<a class="attribute-value">width:32px;height:32px;margin-top:-6px</a>" <span class="attribute-name">src</span>="<a class="attribute-value" href="view-source:https://sbcode.net/img/sbcodelogo.jpg">/img/sbcodelogo.jpg</a>"&gt;</span><span></span><span>&lt;/<span class="end-tag">a</span>&gt;</span><span></span><span>&lt;<span class="start-tag">a</span> <span class="attribute-name">class</span>="<a class="attribute-value">navbar-brand</a>" <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/threejs/multi-controls-example/stylesheets/style.css#">#</a>"&gt;</span><span>SBCODE Tutorials</span><span>&lt;/<span class="end-tag">a</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span></span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">collapse navbar-collapse</a>" <span class="attribute-name">id</span>="<a class="attribute-value">myNavbar</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">ul</span> <span class="attribute-name">class</span>="<a class="attribute-value">nav navbar-nav navbar-right</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">li</span>&gt;</span><span></span><span>&lt;<span class="start-tag">a</span> <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/">/</a>"&gt;</span><span>HOME</span><span>&lt;/<span class="end-tag">a</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">li</span>&gt;</span><span></span><span>&lt;<span class="start-tag">li</span>&gt;</span><span></span><span>&lt;<span class="start-tag">a</span> <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/coupons">/coupons</a>"&gt;</span><span>COUPONS</span><span>&lt;/<span class="end-tag">a</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">li</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">ul</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">nav</span>&gt;</span><span></span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">container</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">div</span> <span class="attribute-name">class</span>="<a class="attribute-value">text-center</a>"&gt;</span><span></span><span>&lt;<span class="start-tag">h4</span>&gt;</span><span> </span><span>&lt;<span class="start-tag">a</span> <span class="attribute-name">href</span>="<a class="attribute-value" href="view-source:https://sbcode.net/">https://sbcode.net</a>" <span class="attribute-name">style</span>="<a class="attribute-value">color:#0b0b0b</a>"&gt;</span><span>SBCODE Tutorials</span><span>&lt;/<span class="end-tag">a</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">h4</span>&gt;</span><span></span><span>&lt;<span class="start-tag">h5</span>&gt;</span><span>Copyright <span class="entity"><span>&amp;</span>copy;</span> 2022 Sean Bradley</span><span>&lt;/<span class="end-tag">h5</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">div</span>&gt;</span><span></span><span>&lt;<span class="start-tag">script</span>&gt;</span><span>$(document).ready(function(){
<span id="line418"></span>  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
<span id="line419"></span>    if (this.hash !== "") {
<span id="line420"></span>      event.preventDefault();
<span id="line421"></span>      var hash = this.hash;
<span id="line422"></span>      $('html, body').animate({
<span id="line423"></span>        scrollTop: $(hash).offset().top
<span id="line424"></span>      }, 900, function(){
<span id="line425"></span>        window.location.hash = hash;
<span id="line426"></span>      });
<span id="line427"></span>    }
<span id="line428"></span>  });
<span id="line429"></span>
<span id="line430"></span>  $(window).scroll(function() {
<span id="line431"></span>    $(".slideanim").each(function(){
<span id="line432"></span>      var pos = $(this).offset().top;
<span id="line433"></span>      var winTop = $(window).scrollTop();
<span id="line434"></span>      if (pos </span><span>&lt; </span><span>winTop + 600) {
<span id="line435"></span>        $(this).addClass("slide");
<span id="line436"></span>      }
<span id="line437"></span>    });
<span id="line438"></span>  });
<span id="line439"></span>})</span><span>&lt;/<span class="end-tag">script</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">body</span>&gt;</span><span></span><span>&lt;/<span class="end-tag">html</span>&gt;</span><span></span></pre><menu type="context" id="actions"><menuitem id="goToLine" label="Go to Line…" accesskey="L"></menuitem><menuitem id="wrapLongLines" label="Wrap Long Lines" type="checkbox"></menuitem><menuitem id="highlightSyntax" label="Syntax Highlighting" type="checkbox" checked="true"></menuitem></menu></body></html>